.button {
  height: 2.5em;
  width: auto;
  font: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}

.button:hover,
.button:active {
  background: #000000;
  border-color: #ffffff;
}

.button:focus {
  outline: none;
}
