.title {
  font-size: 3.5em;
  color: #31363F;
  /* text-shadow: -1px -1px 0 #222831, 1px -1px 0 #222831, -1px 1px 0 #222831, 1px 1px 0 #222831; */
}

.div {
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  border: 2px solid #fafafa;
  border-radius: 5px;
}

.buttonDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}