.title {
  font-size: 3.5em;
  color: #DAC0A3;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.div {
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  background-color: #DAC0A3;
}

.buttonDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}