#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background: radial-gradient(circle, #1f323f 0%, #2f5065 30%, #DAC0A3 100%); */
  background: linear-gradient(0.25turn, #2f5065, #1a1a1a, #2f5065);
}
