#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background: radial-gradient(circle, #1f323f 0%, #2f5065 30%, #DAC0A3 100%); */
  background: linear-gradient(0.25turn, #a5a5a5, #464646, #a5a5a5);
}
