.button {
  height: 2.5em;
  width: auto;
  font: inherit;
  border: 1px solid #4d4d4d;
  border-radius: 3px;
  background: #B7B7B7;
  color: black;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}

.button:hover,
.button:active {
  background: #a1a1a1;
  border-color: #474747;
}

.button:focus {
  outline: none;
}
