.button {
  height: 2.5em;
  width: auto;
  font: inherit;
  border: 1px solid #273F4F;
  border-radius: 3px;
  background: #DAC0A3;
  color: #10222e;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}

.button:hover,
.button:active {
  background: #bba489;
  border-color: #1a1a1a;
}

.button:focus {
  outline: none;
}
